.top-page {
  font-family: "Inter";
  text-align: center;
}
.top-page h1 {
  font-size: 25px;
  font-weight: bold;
}

.board {
  margin: 0 42px;
}

.annotation {
  display: flex;
  list-style: none;
  background-color: #6246ea;
  color: #fffffe;
  justify-content: space-between;
  font-family: "Inter";
  margin: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
}
.annotation div {
  flex: 1;
  display: block;
  padding: 1rem;
  text-align: center;
}
